<div>
      <h2><b *ngIf="polla">Posiciones - {{polla.name}}</b>&nbsp;
        <i class="fa fa-question-circle" (click)="viewReglas(contentReglas)" placement="right" ngbTooltip="Ver reglas"></i>
      </h2> 
      
    <br>
    <div class="container">
    <div class="row">
      <div class="fixedHDiv">
          <button class="btn btn-secondary" [routerLink]="['/pollas/lista']">Ir a Mis pollas</button>
      </div>
      <div>&nbsp;</div>
      <div class="fixedHDiv">
          <button class="btn btn-secondary" [routerLink]="['/pollas/resultados/add', idPolla]">Agregar resultados</button>
            <!--button *ngIf="action == 'previous'" class="dropdown-item" [routerLink]="['/pollas/resultados/add', idPolla]">Agregar resultados</button-->
            <!--button *ngIf="action == 'add'" class="dropdown-item" [routerLink]="['/pollas/resultados/previous', idPolla]">Resultados previos</button-->
      </div>
      <div>&nbsp;</div>
        <div class="fixedHDiv">
            <button class="btn btn-secondary" [routerLink]="['/pollas/ver-resultados', idPolla]">Ver predicciones</button>
        </div>
      
    </div>
  </div>
      
    <div class="card-body table-responsive">
      <div class="small">*La tabla de posiciones se refresca automáticamente cada {{refreshSeconds}} segundos.</div>
        <table class="card-body table table-hover">
          <thead>
            <tr>
              <th>Posición</th>
              <th>Nombre</th>
              <th>Puntos</th>
              <th>Resultados</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let posicion of posiciones | slice: (posicionesPage-1) * pageSize : (posicionesPage-1) * pageSize + pageSize">
              <td>{{posicion.posicion}}</td>
              <td>
                <ng-template [ngIf]="posicion.picture">
                <img width="35" height="35" style="border-radius: 50%;" [src]="'data:image/jpeg;base64,' +posicion.picture">
              </ng-template> &nbsp; {{posicion.nombre}}</td>
              <td>{{posicion.puntos}}</td>
              <td>
                <button class="btn btn-outline-secondary fa fa-eye" (click)="viewResultados(posicion, content)" placement="top" ngbTooltip="Ver resultados" type="button"></button>
               </td>
            </tr>
    
          </tbody>
        </table>
        <ngb-pagination [collectionSize]="posiciones.length" [(page)]="posicionesPage" [maxSize]="maxSize" [pageSize]="pageSize" (pageChange)="setPosicionesPage($event)"></ngb-pagination>
      </div>
  </div>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <div class="small">
        *Los resultados en color negro son tu predicción
        <br>*Los resultados en color rojo son los reales
    </div>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
    <div class="card-body table-responsive">
      <table class="table-hover">
              <thead>
                      <tr>
                        <th width="100%"></th>
                      </tr>
              </thead>
          <tbody>
          <tr *ngIf="predicciones.length == 0">
            <td>
              <span>No hay datos para mostrar</span>
            </td>
          </tr>
          <tr *ngFor="let prediccion of predicciones | slice: (prediccionesPage-1) * pageSize : (prediccionesPage-1) * pageSize + pageSize; index as i">
            <td>  
              <div *ngIf="mustPrintDate((((prediccionesPage-1)*pageSize)+i),i)"><h5><b>{{formatDate(prediccion.partido.inicio)}}</b></h5></div>
                      
              <div class="col"><b>{{formatTime(prediccion.partido.inicio)}}</b></div>
              <div class="container">
                
                  <div class="row">
                      <div class="col-8">
                        <img width="17" height="17" [src]="prediccion.partido.equipo1.urlEscudo">&nbsp;{{prediccion.partido.equipo1.name}}
                      </div>
                      <div class="col-2">
                          <label class="form-control text-center">{{prediccion.resultadoEquipo1}}</label>
                      </div>
                      <div class="col-2">
                        <label class="form-control text-center bg-danger text-white">{{prediccion.partido.resultadoFinalEquipo1}}</label> 
                      </div>
                    
                    <div class="w-100"></div>
                    
                      <div class="col-8">
                        <img width="17" height="17" [src]="prediccion.partido.equipo2.urlEscudo">&nbsp;{{prediccion.partido.equipo2.name}}
                      </div>
                      <div class="col-2">
                          <label class="form-control text-center" >{{prediccion.resultadoEquipo2}}</label>
                      </div>
                      <div class="col-2">
                        <label class="form-control text-center bg-danger text-white">{{prediccion.partido.resultadoFinalEquipo2}}</label>
                      </div>
                  </div>
                  <div class="small col-10 text-right">
                    {{calcularPuntos(prediccion)}} puntos
                  </div>
              </div>
              <br>
            </td>
          </tr>
          </tbody>
      </table>
      <ngb-pagination [collectionSize]="predicciones.length" [(page)]="prediccionesPage" [maxSize]="maxSize" [pageSize]="pageSize" (pageChange)="setPrediccionesPage($event)"></ngb-pagination>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
</div>
</ng-template>

   <ng-template #contentReglas let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Reglas</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
      <div *ngIf="polla" class="modal-body">
        <ul>
          <li>{{polla.puntosExactoEquipo}} puntos por cada equipo al que le aciertes el marcador</li>
          <li>{{polla.puntosGanadorOEmpate}} puntos por acertar equipo ganador o empate</li>
          <li>{{polla.puntosDiferencia}} puntos por acertar la diferencia en el marcador</li>
          <li>Cuentan los goles que haya en el alargue (si hay)</li>
        </ul>
    </div>
     
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
    </div>
  </ng-template>