<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <app-alerts></app-alerts>
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>PollApp</h1>
            <form #loginForm="ngForm" role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" #username="ngModel" id="username" name="username" [(ngModel)]="model.username" #username="ngModel" required class="form-control input-underline input-lg" placeholder="Email">
                        <div *ngIf="username.invalid && (username.dirty || username.touched)"
                            class="alert alert-danger">

                            <div *ngIf="username.errors.required">
                                Por favor ingrese su email
                            </div>

                        </div>
                    </div>
                    
                    <div class="form-group">
                        <input type="password" #password="ngModel" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" required class="form-control input-underline input-lg"  placeholder="Contraseña">
                        <div *ngIf="password.invalid && (password.dirty || password.touched)"
                            class="alert alert-danger">

                            <div *ngIf="password.errors.required">
                                Por favor ingrese su contraseña
                            </div>

                        </div>
                    </div>
                </div>
                <div>
                        <button class="btn rounded-btn" [disabled]="loginForm.invalid" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Iniciar sesión </button>
                        &nbsp;
                        <a class="btn rounded-btn" [routerLink]="['/signup']"> Registro </a>
                </div>
                <br/>
                <div>
                        <a (click)="forgotPassword(content)">¿Olvidaste tu contraseña?</a>
                </div>
                
            </form>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">¿Olvidaste tu contraseña?</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form #form="ngForm" role="form" (ngSubmit)="form.form.valid && onSubmit(c)" novalidate>
           <div class="modal-body">
         
                <div class="form-group">
                        <input type="text" #emailForgot="ngModel" name="emailForgot" id="emailForgot" class="form-control" [(ngModel)]="email" required placeholder="Ingrese el email que tiene registrado"/>
                        <div *ngIf="form.submitted && emailForgot.invalid"
                        class="alert alert-danger">
                   
                           <div *ngIf="emailForgot.errors.required">
                               Por favor ingrese su email
                           </div>
                           
                       </div>
                        </div>
               
             </div>
        <div class="modal-footer">
                <button *ngIf="!readOnly" [disabled]="form.invalid" class="btn btn-primary">Enviar nueva contraseña</button>
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
          </div>
         </form>
     </ng-template>

