
  <div *ngIf="successMessage" style="position: absolute; left: 50%; width: 40%;">
        <div style="position: relative; left: -50%;">
            <ngb-alert type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
      </div>
  </div>
  <div *ngIf="errorMessage" style="position: absolute; left: 50%; width: 40%;">
        <div style="position: relative; left: -50%;">
            <ngb-alert  type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
      </div>
  </div>
  

