<div [@routerTransition]>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <div (click)="openLink(slider.link)">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-calendar'" [link]="['/calendario']" [label]="'Ver calendario'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="pollas" [link]="['/pollas']" [label]="'Pollas activas'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-edit'" [link]="['/nueva']" [label]="'Crear polla'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <!--app-stat [bgClass]="'danger'" [icon]="'fa-calendar'" [link]="['/calendario']" [label]="'Ver calendario'" ></app-stat-->
            <div class="card text-white bg-danger">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xs-2">
                            <i class="fa fa-user-plus fa-5x"></i>
                        </div>
                        <div class="col col-xs-10 text-right">
                            <div class="d-block huge row">Unirme a una polla</div>
                            <div class="d-block"><input name="join" id="join" class="form-control" [(ngModel)]="codigoPolla" placeholder="código"/></div>
                            
                        </div>
                    </div>
                </div>
                <div *ngIf="errorMessageJoin" style="position: absolute; left: 50%; width: 80%;">
                    <div style="position: relative; left: -50%;">
                        <ngb-alert  type="danger" (close)="errorMessageJoin = null">{{ errorMessageJoin }}</ngb-alert>
                  </div>
                    </div>
                    <div *ngIf="successMessageJoin" style="position: absolute; left: 50%; width: 80%;">
                        <div style="position: relative; left: -50%;">
                            <ngb-alert  type="success" (close)="successMessageJoin = null">{{ successMessageJoin }}</ngb-alert>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a routerLink="" (click)="unirseAPolla()" class="float-right card-inverse text-white">
                            <span><i class="fa fa-arrow-circle-right"></i></span>
                        </a>
                        <a routerLink="" (click)="unirseAPolla()" class="float-right text-white">Unirse &nbsp;</a>
                        
                    </div>
            </div>
        </div>
    
    </div>
</div>
