<div>
    <app-page-header [heading]="'Partidos'" [icon]="'fa fa-users'"></app-page-header>
    <form #form="ngForm" role="form" (ngSubmit)="form.form.valid && onSubmit()" appStartDate novalidate>
      
    <div class="form-group">
      <label>Torneo</label>
      <select name="torneo" [ngModel]="selectedTorneo" class="form-control" (ngModelChange)="selectTorneo($event)">
        <option [ngValue]="null">-- Seleccione una opción --</option>
        <option [ngValue]="torneo" *ngFor="let torneo of torneos">{{torneo.name}}</option>
      </select>
    </div>
  <div *ngIf="selectedTorneo" class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <input #idExterno="ngModel" name="idExterno" class="form-control" [(ngModel)]="newIdExterno" [disabled]="readOnly" placeholder="ID Externo"/> 
        </div>
          <br>
           <div class="col-xl-4">
                  <ng-select name="equipo1" [items]="equipos"
                  bindLabel="name" 
                  placeholder="Seleccione un equipo"
                  notFoundText="Equipo no encontrado"
                [(ngModel)]="selectedEquipo1" >
      
                </ng-select> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vs 
                <ng-select name="equipo2" [items]="equipos"
                  bindLabel="name" 
                  placeholder="Seleccione un equipo"
                  notFoundText="Equipo no encontrado"
                [(ngModel)]="selectedEquipo2" >
      
                </ng-select>
              </div>
              
            <br/>
           
      </div>
      <label>Fecha y hora de inicio (aaaa-mm-dd)</label>
            
      <div class="input-group col-xl-4">
        <input #dpsmodel="ngModel" autocomplete="off" required class="form-control" placeholder="aaaa-mm-dd"
                name="dps" [(ngModel)]="startDate" ngbDatepicker #dps="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="dps.toggle()" type="button"></button>
        </div>
      </div>
            
      <ngb-timepicker #tps required name="startTime" [(ngModel)]="startTime" [meridian]=true></ngb-timepicker>  
      <div *ngIf="form.errors?.startDateBeforeToday" class="alert alert-danger">
        Fecha de inicio no puede ser antes de hoy
      </div>
      <p>
      <button type="button" (click)="createNewPartido(content)"
      class="btn btn-primary">Crear Partido</button>
      </p>
    </div>
    
    <div class="card-body table-responsive">
      <table class="card-body table table-hover">
        <thead>
          <tr>
            <th>Partido</th>
            <th>Fecha/Hora</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let partido of partidos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td><img width="25" height="25" [src]="partido.equipo1.urlEscudo">{{partido.equipo1.name}} vs <img width="25" height="25" [src]="partido.equipo2.urlEscudo">{{partido.equipo2.name}}</td>
            <td>{{formatDate(partido.inicio)}}</td>
            <td>
              <div ngbDropdown class="d-inline-block dropdown">
                <button class="btn btn-outline-primary" ngbDropdownToggle>Acciones...</button>
                <div ngbDropdownMenu>
                  <button class="dropdown-item" (click)="editPartido(partido, content)">Editar</button>
                  <button class="dropdown-item" (click)="deletePartido(partido)">Eliminar</button>
                </div>
              </div>
  
              <!--button type="button" (click)="viewPartido(partido, content)" class="btn btn-secondary">Ver</button>
              &nbsp;
              <button type="button" (click)="editPartido(partido, content)" class="btn btn-secondary">Editar</button>
              &nbsp;
              <button type="button" (click)="deletePartido(partido)" class="btn btn-danger">Eliminar</button-->
            </td>
          </tr>
  
        </tbody>
      </table>
      <ngb-pagination [collectionSize]="partidos.length" [(page)]="page" [maxSize]="maxSize" [pageSize]="pageSize" (pageChange)="setPage($event)"></ngb-pagination>

    </div>
    </div>
    </form>
  </div>