<div>
  <h2><b>Predicciones - {{polla.name}}</b></h2> 

<br>

<div class="container">
<div class="row">
  <div class="fixedHDiv">
      <button class="btn btn-secondary" [routerLink]="['/pollas/lista']">Ir a Mis pollas</button>
  </div>
  <div>&nbsp;</div>
  <div class="fixedHDiv">
      <button class="btn btn-secondary" [routerLink]="['/pollas/resultados/add', idPolla]">Agregar resultados</button>
   </div>
  <div>&nbsp;</div>
    <div class="fixedHDiv">
        <button class="btn btn-secondary" [routerLink]="['/pollas/posiciones', idPolla]">Ir a Posiciones</button>
    </div>
  
</div>
</div>

<div class="card-body table-responsive">
  <table class="table-hover">
          <thead>
                  <tr>
                    <th width="100%"></th>
                  </tr>
          </thead>
      <tbody>
      <tr *ngIf="partidos.length == 0">
        <td>
          <span>Todavía no hay partidos para mostrar</span>
        </td>
      </tr>
      <tr *ngFor="let partido of partidos | slice: (partidosPage-1) * pageSize : (partidosPage-1) * pageSize + pageSize; index as i">
        <td>  
          <div *ngIf="mustPrintDate((((partidosPage-1)*pageSize)+i),i)"><h5><b>{{formatDate(partido.inicio)}}</b></h5></div>
                  
          <div class="col"><b>{{formatTime(partido.inicio)}}</b></div>
          <div class="container">
            
            <div class="row">
              <div class="col-4">
                <button class="btn btn-primary" (click)="verResultadosPartido(partido, content)">Ver predicciones</button>
              </div>
                <div class="row">
                  <div class="col-6">
                    <img width="17" height="17" [src]="partido.equipo1.urlEscudo">&nbsp;{{partido.equipo1.name}}
                  </div>
                  <div class="col-2">
                    <label class="form-control text-center">{{partido.resultadoFinalEquipo1}}</label> 
                  </div>
                
                  <div class="w-100"></div>
                
                  <div class="col-6">
                    <img width="17" height="17" [src]="partido.equipo2.urlEscudo">&nbsp;{{partido.equipo2.name}}
                  </div>
                  <div class="col-2">
                    <label class="form-control text-center">{{partido.resultadoFinalEquipo2}}</label>
                  </div>
                </div>
            </div>

          </div>
          <br>
        </td>
      </tr>
      </tbody>
  </table>
  <ngb-pagination [collectionSize]="partidos.length" [(page)]="partidosPage" [maxSize]="maxSize" [pageSize]="pageSize" (pageChange)="setPartidosPage($event)"></ngb-pagination>

</div>

</div>>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div>
      <img width="17" height="17" [src]="selectedPartido.equipo1.urlEscudo">&nbsp;{{selectedPartido.equipo1.name}}&nbsp;{{selectedPartido.resultadoFinalEquipo1}} -&nbsp;
    </div>
    <div>
      <img width="17" height="17" [src]="selectedPartido.equipo2.urlEscudo">&nbsp;{{selectedPartido.equipo2.name}}&nbsp;{{selectedPartido.resultadoFinalEquipo2}}
    </div>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
  <div class="card-body table-responsive">
    <div class="row text-center">
      <div class="col">&nbsp;</div>
      <div class="col-4"><strong>{{selectedPartido.equipo1.name}}</strong></div>
      <div class="col-4"><strong>{{selectedPartido.equipo2.name}}</strong></div>
    </div>
    <div *ngFor="let prediccion of predicciones; let index = index" [style.background-color] = "0 === index % 2  ? 'lightgrey' : 'white'" class="row text-center">
      <div class="col">{{prediccion.usuario.name}}</div>
      <div *ngIf="prediccion.prediccionPartido && prediccion.prediccionPartido.length>0; else noResult" class="col-4">{{prediccion.prediccionPartido[0].resultadoEquipo1}}</div>
      <div *ngIf="prediccion.prediccionPartido && prediccion.prediccionPartido.length>0; else noResult" class="col-4">{{prediccion.prediccionPartido[0].resultadoEquipo2}}</div>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
</div>
</ng-template>
<ng-template #noResult>
  <div class="col-4">-</div>
</ng-template>