<div>
	<app-page-header [heading]="'Perfil'" [icon]="'fa-user'"></app-page-header>
	
	<div class="card-body table-responsive">
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input name="name" class="form-control" [(ngModel)]="nombre" disabled/>
      </div>
      <br/>
      <div class="form-group">
        <label for="email">Email:</label>
        <input name="email" class="form-control" [(ngModel)]="email" disabled/>
      </div>
      <div class="form-group">
        <input type="checkbox" id="notification" [checked]="notification" (change)="updateNotification()">&nbsp;
        <label for="notification">Quiero recibir recordatorios semanales de mis pollas</label>
      </div>
      
      <br/>
      <br/>
      <div class="row">
        <div>
          <button type="button" (click)="changePassword(content)" class="btn btn-primary">Cambiar contraseña</button>
        </div>
        &nbsp;&nbsp;&nbsp;
          <div>
            <button type="button" (click)="changeProfilePicture(contentPicture)" class="btn btn-primary">Cambiar foto de perfil</button>                           
          </div>
        
      </div>
          
      
  </div>
  
</div>
<ng-template #content let-c="close" let-d="dismiss">
   <div class="modal-header">
       <h4 class="modal-title">Cambiar el password</h4>
       <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
           <span aria-hidden="true">&times;</span>
       </button>
	 </div>
	 <form #form="ngForm" role="form" (ngSubmit)="form.form.valid && onSubmit(c)" appPasswordConfirmation novalidate>
      <div class="modal-body">
    
          <div class="form-group">
          <input type="password" #pwd="ngModel" name="currentPassword" id="currentPassword" class="form-control" [(ngModel)]="password" required placeholder="Contraseña actual"/>
          <div *ngIf="form.submitted && pwd.invalid"
          class="alert alert-danger">
     
             <div *ngIf="pwd.errors.required">
                 Por favor ingrese su actual contraseña
             </div>
     
         </div>
          </div>
     
          <div class="form-group">
              <input type="password" #pwd2="ngModel" name="password" id="password" class="form-control" [(ngModel)]="newPassword" required placeholder="Contraseña nueva"/>
              <div *ngIf="form.submitted && pwd2.invalid"
              class="alert alert-danger">
         
                 <div *ngIf="pwd2.errors.required">
                     Por favor ingrese su nueva contraseña
                 </div>
         
             </div>
              </div>

              <div class="form-group">
                  <input type="password" #pwd3="ngModel" name="confPassword" id="confPassword" class="form-control" [(ngModel)]="confirmPassword" required placeholder="Confirme nueva contraseña"/>
                  <div *ngIf="form.submitted && pwd3.invalid"
                  class="alert alert-danger">
             
                     <div *ngIf="pwd3.errors.required">
                         Por favor ingrese su confirmación de contraseña
                     </div>
                     
             
                 </div>
                  </div>
                  <div *ngIf="form.submitted && form.errors?.passwordsMismatch " class="alert alert-danger">
                      La confirmación de la contraseña no concuerda con la nueva contraseña
                  </div>
          
        </div>
   <div class="modal-footer">
   		<button *ngIf="!readOnly" [disabled]="form.invalid" class="btn btn-primary">Guardar</button>
       <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
	 </div>
	</form>
</ng-template>


<ng-template #contentPicture let-c="close" let-d="dismiss">
   <div class="modal-header">
       <h4 class="modal-title">Cambiar foto de perfil</h4>
       <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
           <span aria-hidden="true">&times;</span>
       </button>
	 </div>
	    <div class="modal-body">
        <p class="font-italic">Tamaño máximo: 2MB</p>
        <p class="font-italic">Formatos permitidos: JPEG, JPG, PNG y BMP</p>
          <div class="form-group">
            <input type="file" (change)="selectFile($event)" class="form-control-file btn-secondary">
          </div>
        </div>
   <div class="modal-footer">
   		<button type="button" class="btn btn-primary" (click)="uploadPicture(c)">Actualizar foto</button>
       <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
	 </div>
</ng-template>