<div>
    <app-page-header [heading]="'Mis pollas'" [icon]="'fa fa-tasks'"></app-page-header>
    <label for="join">Para unirse a una polla, ingrese el código</label>
    <div class="row">
        <div class="col-xl-4">
          <input #join="ngModel" name="join" id="join" [(ngModel)]="codigoPolla" class="form-control"  placeholder="código de la polla"/>
        </div>
        <div class="col-xl-8">
          <button type="button" (click)="unirseAPolla()" class="btn btn-primary">Unirse</button>
        </div>
        <div *ngIf="errorMessageJoin" style="position: absolute; left: 50%; width: 40%;">
            <div style="position: relative; left: -50%;">
                <ngb-alert  type="danger" (close)="errorMessageJoin = null">{{ errorMessageJoin }}</ngb-alert>
          </div>
      </div>
      <div *ngIf="successMessageJoin" style="position: absolute; left: 50%; width: 40%;">
          <div style="position: relative; left: -50%;">
              <ngb-alert  type="success" (close)="successMessageJoin = null">{{ successMessageJoin }}</ngb-alert>
        </div>
    </div>
      </div>
      <br>

      <!--div class="mat-elevation-z2">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let polla"> {{polla.name}} </td>
          </ng-container>
      
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>Código</th>
            <td mat-cell *matCellDef="let polla"> {{polla.uniqueCode}} </td>
          </ng-container>
       
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <mat-cell *matCellDef="let polla;">
              <button matTooltip="Ir a Posiciones" mat-icon-button (click)="goToPosiciones(polla)">
                <mat-icon>format_list_numbered</mat-icon>        
              </button>
              <button matTooltip="Ir a Resultados" mat-icon-button (click)="goToAddResultados(polla)">
                <mat-icon>post_add</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      
      </div-->

    <div class="card-body table-responsive">
        <table class="card-body table table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Código</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let polla of pollas  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
              <td>{{polla.name}}</td>
              <td>{{polla.uniqueCode}}</td>
              <td>
                <div class="row">
                  <button class="btn btn-outline-secondary fa fa-pencil" (click)="goToAddResultados(polla)" placement="top" ngbTooltip="Agregar resultados" type="button"></button>&nbsp;
                  <button class="btn btn-outline-secondary fa fa-list-ol" (click)="goToPosiciones(polla)" placement="top" ngbTooltip="Ir a Posiciones" type="button"></button>&nbsp;
                  <button class="btn btn-outline-secondary fa fa-eye" (click)="goToViewResultados(polla)" placement="top" ngbTooltip="Ver resultados" type="button"></button>  
                </div>
                
                <!--div ngbDropdown class="d-inline-block dropdown">
                  <button class="btn btn-outline-primary" ngbDropdownToggle>Acciones...</button>
                  <div ngbDropdownMenu>
                    <button class="dropdown-item" (click)="goToAddResultados(polla)">Agregar resultados</button>
                    <button class="dropdown-item" (click)="goToPosiciones(polla)">Posiciones</button>
                    <button class="dropdown-item" (click)="goToPrevResultados(polla)">Resultados previos</button>
                    <button *ngIf="editable(polla)"  class="dropdown-item" (click)="editPolla(polla, content)">Editar</button>
                  </div>
                </div-->
    
             </td>
            </tr>
    
          </tbody>
        </table>
        <ngb-pagination [collectionSize]="pollas.length" [(page)]="page" [maxSize]="maxSize" [pageSize]="pageSize" (pageChange)="setPage($event)"></ngb-pagination>
      </div>
  </div>
  <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
          <h4 class="modal-title">Detalles del polla</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <form #form="ngForm" role="form" (ngSubmit)="form.form.valid && onSubmit(c)" novalidate>
      <div *ngIf="selectedPolla" class="modal-body">
       
        <input #name="ngModel" name="polla-name" class="form-control" [(ngModel)]="selectedPolla.name" [disabled]="readOnly" required placeholder="nombre"/>
        <div *ngIf="form.submitted && name.invalid"
        class="alert alert-danger">
   
           <div *ngIf="name.errors.required">
               Por favor ingrese el nombre del polla
           </div>
   
       </div>
     
      </div>
      <div class="modal-footer">
          <button *ngIf="!readOnly" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
      </div>
     </form>
   </ng-template>