<div routerLink="{{link}}" class="card text-white bg-{{bgClass}}">
    <div class="card-header">
        <div class="row">
            <div class="col col-xs-3">
                <i class="fa {{icon}} fa-5x"></i>
            </div>
            <div class="col col-xs-9 text-right">
                <div class="d-block huge">{{count}}</div>
                <div class="d-block">{{label}}</div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a routerLink="{{link}}" [routerLinkActive]="['router-link-active']" class="float-right text-white card-inverse">
            <span ><i class="fa fa-arrow-circle-right"></i></span>
        </a>
        <a routerLink="{{link}}" [routerLinkActive]="['router-link-active']" class="float-right text-white">Ir a la pagina &nbsp;</a>
        
    </div>
</div>
