<div>
  <app-page-header [heading]="'Equipos'" [icon]="'fa fa-users'"></app-page-header>
  <div class="form-group">
    <label>País</label>
    <select name="pais" [ngModel]="selectedPais" class="form-control" (ngModelChange)="selectPais($event)">
      <option [ngValue]="null">-- Seleccione una opción --</option>
      <option [ngValue]="pais" *ngFor="let pais of paises">{{pais.name}}</option>
    </select>
  </div>
  <br/>
<div *ngIf="selectedPais" class="modal-body">
    <input name="equipo-name" [(ngModel)]="newEquipoName" class="form-control" placeholder="nombre nuevo equipo"/>
    <br/>
    <input #idExterno="ngModel" name="idExterno" class="form-control" [(ngModel)]="newIdExterno" [disabled]="readOnly" placeholder="ID Externo"/> 
    <br/>
    <p>
		<button type="button" (click)="createNewEquipo(content)"
			class="btn btn-primary">Crear nuevo</button>
	</p>
	<div class="card-body table-responsive">
		<table class="card-body table table-hover">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let equipo of equipos">
					<td><img width="25" height="25" [src]="equipo.urlEscudo"> {{equipo.name}}</td>
					<td>
						<div ngbDropdown class="d-inline-block dropdown">
							<button class="btn btn-outline-primary" ngbDropdownToggle>Acciones...</button>
							<div ngbDropdownMenu>
								<button class="dropdown-item" (click)="viewEquipo(equipo, content)">Ver</button>
								<button class="dropdown-item" (click)="editEquipo(equipo, content)">Editar</button>
								<button class="dropdown-item" (click)="deleteEquipo(equipo)">Eliminar</button>
							</div>
						</div>

						<!--button type="button" (click)="viewEquipo(equipo, content)" class="btn btn-secondary">Ver</button>
						&nbsp;
						<button type="button" (click)="editEquipo(equipo, content)" class="btn btn-secondary">Editar</button>
						&nbsp;
						<button type="button" (click)="deleteEquipo(equipo)" class="btn btn-danger">Eliminar</button-->
					</td>
				</tr>

			</tbody>
		</table>
  </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">Detalles del equipo</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <form #form="ngForm" role="form" (ngSubmit)="form.form.valid && onSubmit(c)" novalidate>
  <div *ngIf="selectedEquipo" class="modal-body">
   
    <input #name="ngModel" name="equipo-name" class="form-control" [(ngModel)]="selectedEquipo.name" [disabled]="readOnly" required placeholder="nombre"/>
    <div *ngIf="form.submitted && name.invalid"
    class="alert alert-danger">

       <div *ngIf="name.errors.required">
           Por favor ingrese el nombre del equipo
       </div>

   </div>
   <br>
   <input #idExterno="ngModel" name="idExterno" class="form-control" [(ngModel)]="selectedEquipo.externalId" [disabled]="readOnly" placeholder="ID Externo"/> 
   <br>
   <input #idUrl="ngModel" name="idURL" class="form-control" [(ngModel)]="selectedEquipo.urlEscudo" [disabled]="readOnly" placeholder="url"/> 
  </div>
   
  <div class="modal-footer">
      <button *ngIf="!readOnly" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
 </form>
</ng-template>