<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>PollApp</h1>
            <div>
              <h2>Error en la activación :(</h2><br>
              Por favor vuelve a intentarlo
            </div>
            <br>
            <a class="btn rounded-btn" [routerLink]="['/signup']"> Registro </a>
        </div>
      </div>
</div>
  