<div>
    <app-page-header [heading]="'Nueva polla'" [icon]="'fa fa-fw fa-edit'"></app-page-header>
    <form #form="ngForm" role="form" (ngSubmit)="form.form.valid && onSubmit()" novalidate>
        <div class="form-group">
            <label>Torneo</label>
            <select #torneo="ngModel" required name="torneo" [ngModel]="selectedPolla.torneo" [compareWith]="compareTorneo" [disabled]="readOnly" class="form-control" (ngModelChange)="selectTorneo($event)">
                <option [ngValue]="null">-- Seleccione una opción --</option>  
                <option [ngValue]="torneo" *ngFor="let torneo of torneos">{{torneo.name}}</option>
            </select>
            <div *ngIf="form.submitted && torneo.invalid"
            class="alert alert-danger">
    
              <div *ngIf="torneo.errors.required">
                  Por favor ingrese el torneo
              </div>
    
          </div>
          </div>
    
          <br>

          <div>
          <input #name="ngModel" name="name-polla" class="form-control" [(ngModel)]="selectedPolla.name" [disabled]="readOnly" required placeholder="nombre"/>
          <div *ngIf="form.submitted && name.invalid"
          class="alert alert-danger">

              <div *ngIf="name.errors.required">
                  Por favor ingrese el nombre
              </div>

          </div>
        </div>
        <br>
        <label for="puntaje1">Puntaje por acertar marcador de un equipo (si acierta el de ambos equipos, será el doble!)</label>
        <div class="col-xl-1">
            <input id="puntaje1" name="puntaje1" class="form-control" [(ngModel)]="selectedPolla.puntosExactoEquipo" [disabled]="readOnly"/>
        </div>
        <br>
        <label for="puntaje2">Puntaje por acertar el ganador (o empate)</label>
        <div class="col-xl-1">
            <input id="puntaje2" name="puntaje2" class="form-control" [(ngModel)]="selectedPolla.puntosGanadorOEmpate" [disabled]="readOnly"/>
        </div>
        <br>
        <label for="puntaje3">Puntaje por acertar la diferencia en el marcador</label>
        <div class="col-xl-1">
            <input id="puntaje3" name="puntaje3" class="form-control" [(ngModel)]="selectedPolla.puntosDiferencia" [disabled]="readOnly"/>
        </div>
        <br>
        <fieldset class="form-group">
            <label for="emails">Ingresa los emails de las personas que quieres invitar, separados por comas(,). Si no lo haces, igual después les puedes compartir el código de la polla para que puedan participar </label>
            <textarea class="form-control" name="emails" id="emails" rows="3" [(ngModel)]="selectedPolla.emailsInvitados" [disabled]="readOnly"></textarea>
        </fieldset>

          <div class="modal-footer">
              <button *ngIf="!readOnly" class="btn btn-primary">Guardar</button>
          </div>
    </form>
  </div>
