<div>
    <h2><b *ngIf="action == 'add'">Agregar </b><b *ngIf="polla">Resultados - {{polla.name}}</b></h2>
    <div class="container">
        
    <div class="row">
        <div class="fixedHDiv">
            <button class="btn btn-secondary" [routerLink]="['/pollas/lista']">Ir a Mis pollas</button>
        </div>
        <div>&nbsp;</div>
        <div class="fixedHDiv">
            <button class="btn btn-secondary" [routerLink]="['/pollas/posiciones', idPolla]">Ir a Posiciones</button>
        </div>
        <div>&nbsp;</div>
        <div class="fixedHDiv">
            <button class="btn btn-secondary" [routerLink]="['/pollas/ver-resultados', idPolla]">Ver predicciones</button>
        </div>
      </div>
    </div>
   
    
    <div class="card-body table-responsive">
        <table class="table-hover">
                <thead>
                    <tr>
                        <th width="100%"></th>
                      </tr>
                </thead>
            <tbody>
            <tr *ngFor="let prediccion of predicciones | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
                            
                        <div *ngIf="mustPrintDate((((page-1)*pageSize)+i),i)"><h5><b>{{formatDate(prediccion.partido.inicio)}}</b></h5></div>
                        <div class="col">
                            <b>{{formatTime(prediccion.partido.inicio)}}</b>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-8">
                                    <img width="17" height="17" [src]="prediccion.partido.equipo1.urlEscudo">&nbsp;{{prediccion.partido.equipo1.name}}
                                </div>
                                <div class="col-3 input-sm" style="width: 20px;">
                                    <input [readonly]="isReadonly(prediccion)" autocomplete="off" class="form-control" [(ngModel)]="prediccion.resultadoEquipo1"/>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-8"> 
                                    <img width="17" height="17" [src]="prediccion.partido.equipo2.urlEscudo">&nbsp;{{prediccion.partido.equipo2.name}}
                                </div>
                                <div class="col-3">
                                    <input [readonly]="isReadonly(prediccion)" autocomplete="off" class="form-control" [(ngModel)]="prediccion.resultadoEquipo2"/>
                                </div>
                            </div>
                            
                        </div>
                        <br>
            </tr>
            </tbody>
        </table>
        <ngb-pagination [collectionSize]="predicciones.length" [(page)]="page" [maxSize]="maxSize" [pageSize]="pageSize" (pageChange)="setPage($event)"></ngb-pagination>

        <button class="btn btn-primary" (click)="savePredicciones()">Guardar</button>
    </div>
</div>
      