<div>
	<app-page-header [heading]="'Comentarios'" [icon]="'fa fa-envelope'"></app-page-header>
	<div class="card-body table-responsive">
		<table class="card-body table table-hover">
			<thead>
				<tr>
					<th>Comentario</th>
					<th>Usuario</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let comentario of comments | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
					<td>{{comentario.comentario}}</td>
					<td>{{comentario.usuario.name}}</td>
					<td>{{formatDate(comentario.curDate)}}</td>
				</tr>
			</tbody>
		</table>
		<ngb-pagination [collectionSize]="comments.length" [(page)]="page" [maxSize]="maxSize" [pageSize]="pageSize" (pageChange)="setPage($event)"></ngb-pagination>
	</div>
</div>