<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <app-alerts></app-alerts>
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>PollApp - Registro</h1>
            <form #registrationForm="ngForm" (ngSubmit)="registrationForm.form.valid && onSubmit()" role="form" id="registrationForm" novalidate><!--appPasswordConfirmation appEmailConfirmation -->
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" id="name" name="name" class="form-control input-underline input-lg" [(ngModel)]="model.name" #name="ngModel" placeholder="Nombre" required>
                        <div *ngIf="registrationForm.submitted && name.invalid"
                            class="alert alert-danger">

                            <div *ngIf="name.errors.required">
                                Por favor ingrese su nombre
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" id="username" name="username" class="form-control input-underline input-lg" [(ngModel)]="model.username" #email="ngModel" placeholder="Email" email required>
                        <div *ngIf="registrationForm.submitted && email.invalid"
                            class="alert alert-danger">

                            <div *ngIf="email.errors">
                                Email inválido
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" id="confUsername" name="confUsername" class="form-control input-underline input-lg" [(ngModel)]="model.confUsername" #confEmail="ngModel" placeholder="Confirme su email" email required>
                        <div *ngIf="registrationForm.submitted && email.invalid"
                            class="alert alert-danger">

                            <div *ngIf="confEmail.errors">
                                Confirmación Email inválido
                            </div>

                        </div>
                    </div>
                    <div *ngIf="registrationForm.submitted && registrationForm.errors?.emailsMismatch " class="alert alert-danger">
                            La confirmación del Email no concuerda con el Email
                    </div>

                    <!--div class="form-group">
                        <input type="password" id="password" name="password"  class="form-control input-underline input-lg" [(ngModel)]="model.password" #password1="ngModel" placeholder="Contraseña" required>
                        <div *ngIf="registrationForm.submitted && password1.invalid "
                            class="alert alert-danger">

                            <div *ngIf="password1.errors.required">
                                Por favor ingrese su contraseña
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" id="confPassword" name="confPassword" class="form-control input-underline input-lg" [(ngModel)]="model.confPassword" #password2="ngModel" placeholder="Confirme su contraseña" required>
                        <div *ngIf="registrationForm.submitted && password2.invalid "
                            class="alert alert-danger">

                            <div *ngIf="password2.errors.required">
                                Por favor ingrese la confirmación de su contraseña
                            </div>

                        </div>
                    </div>
                    <div *ngIf="registrationForm.submitted && registrationForm.errors?.passwordsMismatch " class="alert alert-danger">
                            La confirmación de la contraseña no concuerda con la contraseña
                    </div-->
                </div>
                <button class="btn rounded-btn"> Registro </button> &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Iniciar sesión </a>
            </form>
        </div>
    </div>
</div>
