<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <div class="header-fields">
            
            <div class="nested-menu">
                <div *ngIf="picture && picture!='data:image/jpeg;base64,null'" class="text-center">
                    <img width="100" height="100" style="border-radius: 50%;" [src]="picture">
                </div>
                <a class="list-group-item text-center" (click)="addExpandClass('profile')">
                    <span>{{username}}</span>
                </a>
                
            </div>
        </div>
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-home"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a [routerLink]="['/calendario']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-calendar"></i>&nbsp;
            <span>{{ 'Ver calendario' | translate }}</span>
        </a>
        <a [routerLink]="['/pollas']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-tasks"></i>&nbsp;
            <span>{{ 'Mis pollas' | translate }}</span>
        </a>
        <a [routerLink]="['/nueva']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;
            <span>{{ 'Crear polla' | translate }}</span>
        </a>
        <div *ngIf="isAdmin" class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-wrench"></i>&nbsp;
                <span>{{ 'Administración' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                	
                    <li>
                        <a [routerLink]="['/deportes']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-futbol-o"></i>&nbsp;
                            <span>{{ 'Deportes' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/paises']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				            <i class="fa fa-globe"></i>&nbsp;
				            <span>{{ 'Países' | translate }}</span>
				        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/equipos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				            <i class="fa fa-users" aria-hidden="true"></i>&nbsp;
				            <span>{{ 'Equipos' | translate }}</span>
				        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/torneos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				            <i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;
				            <span>{{ 'Torneos' | translate }}</span>
				        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/partidos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				            <i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;
				            <span>{{ 'Partidos' | translate }}</span>
				        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/marcadores']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;
				            <span>{{ 'Marcadores' | translate }}</span>
				        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/comments']" [routerLinkActive]="['router-link-active']" class="list-group-item">
				            <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;
				            <span>{{ 'Comentarios' | translate }}</span>
				        </a>
                    </li>
                </ul>
            </li>
        </div>




        
        <!-- a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Charts' | translate }}</span>
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'Tables' | translate }}</span>
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;
            <span>{{ 'Forms' | translate }}</span>
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;
            <span>{{ 'Bootstrap Element' | translate }}</span>
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;
            <span>{{ 'Bootstrap Grid' | translate }}</span>
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;
            <span>{{ 'Component' | translate }}</span>
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;
            <span>{{ 'Blank Page' | translate }}</span>
        </a-->

        <div class="header-fields">
            <a class="list-group-item" [routerLink]="['/profile']" [routerLinkActive]="['router-link-active']">
                <span><i class="fa fa-fw fa-user"></i> {{ 'Perfil' | translate }}</span>
            </a>
            <a class="list-group-item" href="javascript:void(0)" (click)="newComment(content)">
                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Comentarios' | translate }}</span>
            </a>
            <a class="list-group-item" [routerLink]="['/login']" (click)="onLoggedout()">
                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
            </a>
            <!--a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a-->
            <!--div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div-->
            
        </div>
    </div>
    <!--div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div-->
</nav>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Enviar comentario</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #form="ngForm" role="form" (ngSubmit)="form.form.valid && onSubmit(c)" novalidate>
        <div class="modal-body">
            
      <textarea #name="ngModel" name="comment" maxlength="250" class="form-control" [(ngModel)]="comment" required  placeholder="ingrese sus comentarios"></textarea>
          <div *ngIf="form.submitted && name.invalid"
          class="alert alert-danger">
 
                 <div *ngIf="name.errors.required">
                         Por favor ingrese el comentario
                 </div>
 
         </div>
        </div>
     
    <div class="modal-footer">
            <button *ngIf="!readOnly" class="btn btn-primary">Enviar</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
      </div>
     </form>
 </ng-template>