<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>PollApp</h1>
            <div>
              <h2>Activación exitosa!</h2><br>
              Ya puedes iniciar sesión con los datos que ingresaste en el Registro
            </div>
            <br>
            <a class="btn rounded-btn" [routerLink]="['/login']"> Iniciar sesión </a>
        </div>
      </div>
</div>
  

