<div>
	<app-page-header [heading]="'Torneos'" [icon]="'fa fa-trophy'"></app-page-header>
	<p>
		<button type="button" (click)="createNewTorneo(content)"
			class="btn btn-primary">Crear nuevo</button>
	</p>
	<div class="card-body table-responsive">
		<table class="card-body table table-hover">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let torneo of torneos">
					<td>{{torneo.name}}</td>
					<td>
						<div ngbDropdown class="d-inline-block dropdown">
							<button class="btn btn-outline-primary" ngbDropdownToggle>Acciones...</button>
							<div ngbDropdownMenu>
								<button class="dropdown-item" (click)="viewTorneo(torneo, content)">Ver</button>
								<button class="dropdown-item" (click)="editTorneo(torneo, content)">Editar</button>
								<button class="dropdown-item" (click)="deleteTorneo(torneo)">Eliminar</button>
							</div>
						</div>

						<!--button type="button" (click)="viewTorneo(torneo, content)" class="btn btn-secondary">Ver</button>
						&nbsp;
						<button type="button" (click)="editTorneo(torneo, content)" class="btn btn-secondary">Editar</button>
						&nbsp;
						<button type="button" (click)="deleteTorneo(torneo)" class="btn btn-danger">Eliminar</button-->
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
   <div class="modal-header">
       <h4 class="modal-title">Detalles del torneo</h4>
       <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
           <span aria-hidden="true">&times;</span>
       </button>
	 </div>
	 <form #form="ngForm" role="form" (ngSubmit)="form.form.valid && onSubmit(c)" novalidate>
   <div *ngIf="selectedTorneo" class="modal-body">
	
	<div>
		<input #name="ngModel" name="torneo-name" class="form-control" [(ngModel)]="selectedTorneo.name" [disabled]="readOnly" required placeholder="nombre"/>
	</div>
		 <div *ngIf="form.submitted && name.invalid"
		 class="alert alert-danger">

				<div *ngIf="name.errors.required">
						Por favor ingrese el nombre del torneo
				</div>

		</div>
		<br>
		<div>
			<input #idExterno="ngModel" name="idExterno" class="form-control" [(ngModel)]="selectedTorneo.externalId" [disabled]="readOnly" placeholder="ID Externo"/> 
		</div>
		<br>
		<div>
			<label for="active">Está activo?</label>&nbsp;
			<input type="checkbox" id="active" [disabled]="readOnly"  [checked]="selectedTorneo.active" (change)="selectedTorneo.active=!selectedTorneo.active">
			<br>
		</div>
	
   </div>
   <div class="modal-footer">
   		<button *ngIf="!readOnly" class="btn btn-primary">Guardar</button>
       <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
	 </div>
	</form>
</ng-template>