<div>
	<app-page-header [heading]="'Deportes'" [icon]="'fa fa-futbol-o'"></app-page-header>
	<p>
		<button type="button" (click)="createNewDeporte(content)"
			class="btn btn-primary">Crear nuevo</button>
	</p>
	<div class="card-body table-responsive">
		<table class="card-body table table-hover">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let deporte of deportes">
					<td>{{deporte.name}}</td>
					<td>
						<div ngbDropdown class="d-inline-block dropdown">
							<button class="btn btn-outline-primary" ngbDropdownToggle>Acciones...</button>
							<div ngbDropdownMenu>
								<button class="dropdown-item" (click)="viewDeporte(deporte, content)">Ver</button>
								<button class="dropdown-item" (click)="editDeporte(deporte, content)">Editar</button>
								<button class="dropdown-item" (click)="deleteDeporte(deporte)">Eliminar</button>
							</div>
						</div>

						<!--button type="button" (click)="viewDeporte(deporte, content)" class="btn btn-secondary">Ver</button>
						&nbsp;
						<button type="button" (click)="editDeporte(deporte, content)" class="btn btn-secondary">Editar</button>
						&nbsp;
						<button type="button" (click)="deleteDeporte(deporte)" class="btn btn-danger">Eliminar</button-->
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
   <div class="modal-header">
       <h4 class="modal-title">Detalles del deporte</h4>
       <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
           <span aria-hidden="true">&times;</span>
       </button>
	 </div>
	 <form #form="ngForm" role="form" (ngSubmit)="form.form.valid && onSubmit(c)" novalidate>
   <div *ngIf="selectedDeporte" class="modal-body">
    
     <input #name="ngModel" name="deporte-name" class="form-control" [(ngModel)]="selectedDeporte.name" [disabled]="readOnly" required placeholder="nombre"/>
		 <div *ngIf="form.submitted && name.invalid"
		 class="alert alert-danger">

				<div *ngIf="name.errors.required">
						Por favor ingrese el nombre del deporte
				</div>

		</div>
	
   </div>
   <div class="modal-footer">
   		<button *ngIf="!readOnly" class="btn btn-primary">Guardar</button>
       <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
	 </div>
	</form>
</ng-template>