<div>
  <app-page-header [heading]="'Marcadores'" [icon]="'fa fa-users'"></app-page-header>
   
  <div class="form-group">
    <label>Torneo</label>
    <select name="torneo" [ngModel]="selectedTorneo" class="form-control" (ngModelChange)="selectTorneo($event)">
      <option [ngValue]="null">-- Seleccione una opción --</option>
      <option [ngValue]="torneo" *ngFor="let torneo of torneos">{{torneo.name}}</option>
    </select>
  </div>
  <br/>
<div *ngIf="selectedTorneo" class="modal-body">
  <table class="table-hover">
    <thead>
      <tr>
        <th width="100%"></th>
      </tr>
          </thead>
      <tbody>
          <tr *ngFor="let partido of partidos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <div class="container">
              <div class="row">
                  <div class="col">
                    {{formatDate(partido.inicio)}}
                  </div>
                  <div class="w-100"></div>
                  <div class="col-5">
                    {{partido.equipo1.name}}
                  </div>
                  <div class="col-3" style="width: 10px;">
                          <input name="resultadoEquipo1" autocomplete="off" class="form-control" [(ngModel)]="partido.resultadoFinalEquipo1"/>
                  </div>
                  
                  <div class="col-5"> 
                    {{partido.equipo2.name}}
                  </div>
                  <div class="col-3">
                    <input name="resultadoEquipo2" autocomplete="off" class="form-control" [(ngModel)]="partido.resultadoFinalEquipo2"/>
                  </div>
              </div>
          </div>    
          <br>
          </tr>
        </tbody>
      </table>
      <ngb-pagination [collectionSize]="partidos.length" [(page)]="page" [maxSize]="maxSize" [pageSize]="pageSize" (pageChange)="setPage($event)"></ngb-pagination>

      <button class="btn btn-primary" (click)="saveMarcadores()">Guardar</button>
  </div>
</div>